src/main/mule/update-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-employeeFlow" doc:id="54cc9fde-9ef1-4ea4-b474-94036e05cd61" >
		<http:listener doc:name="Update Employee Listener" doc:id="54b0abd4-e3e3-488c-97af-c6942b03541a" config-ref="HTTP_Listener_config" path="update-employee" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Start Logger" doc:id="b173895d-ca38-402b-95c2-3a4161388696" message="Started update employee flow"/>
		<db:update doc:name="Update Employee" doc:id="5e183581-e09c-458f-91c2-0fc798d2662f" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE emp SET emp_status=:empStatus WHERE emp_id=:empId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empId: payload.employee.employeeId,
	empStatus: payload.employee.employeeStatus
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Set Response" doc:id="2fa982a5-620e-4cc3-9a09-226ded75d3f8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	response: {
		status: 200,
		message: "Success"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="8bfa60eb-bfff-4870-9921-b198c501d12d" message="Completed update employee flow"/>
	</flow>
</mule>
